/* Montaser is a Wa7ech */

* {
  font-family: "Quicksand";
}

h1 {
  width: 620px;
  text-align: center;
  background-color: rgba(245, 243, 244, 0.5);
}

h2 {
  width: 620px;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
  margin-bottom: 5em;
  box-shadow: 1em 0em 1em gray;
  background-image: url(./pictures/table-food-top-view-260nw-467823860.jpg);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./pictures/hand-drawn-vector-seamless-fast-food-pattern-sketch-doodle-elements-can-be-used-wallpaper-website-background-wrapping-79399570.png);
}

.myfooter {
  height: 400px;
  width: 100%;
  background-image: url("./pictures/blueberries-hands_JCTWB2CPSX.jpg");
}

footer {
  height: 200px;
  width: 100%;
  background-image: url(./pictures/blueberries-hands_JCTWB2CPSX.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 5em;
  opacity: 1;
  box-shadow: 1em 0em 1em gray;
}

.myfooter {
  height: 400px;
  width: 100%;
  background-image: url("./pictures/blueberries-hands_JCTWB2CPSX.jpg");
}

/* footer {
  height: 200px;
  width: 100%;
  background-image: url(./pictures/blueberries-hands_JCTWB2CPSX.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 5em;
  opacity: 1;
  box-shadow: 1em 0em 1em gray;
} */

.main {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.card {
  box-shadow: 1em 0em 1em gray;
}

.card:hover .overlay {
  opacity: 1;
}

.overlay a {
  font-size: 20px;
  background-color: none;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
